﻿@model EnjoyDigitalUniversity.ViewModels.CourseViewModel

<div>
    <h2>@Model.Title</h2>
    <div>@Model.BodyText</div>
    <div>Department: @Model.Department</div>
    <div><a href="@Model.Url">View course</a></div>
    <br />
</div>