﻿@inherits UmbracoViewPage<EnjoyDigitalUniversity.ViewModels.CourseListingViewModel>
@{
    Layout = "Master.cshtml";
}

<div class="umb-grid">
    <div class="grid-section">
        <div class="light">
            <div class="container">
                @using (Html.BeginUmbracoForm("Listing", "Course", null, new { @class = "js-ajax-form", data_holder = "form-output" }, FormMethod.Post))
                {
                    <div>
                        @Html.DropDownList(
                            "department",
                            new SelectList(
                                Model.Departments.Select(x => new { Value = x, Text = x }),
                                "Value",
                                "Text"
                            ),
                            "--- Select Department ---"
                        )
                    </div>
                    <input type="submit" value="Search" />
                }
                <div class="form-output">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="/scripts/forms.js"></script>
}