﻿@model EnjoyDigitalUniversity.ViewModels.CoursesViewModel

@if (Model.Courses != null && Model.Courses.Any())
{
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div>
                <h1>@(string.IsNullOrEmpty(Model.Department) ? "All courses" : Model.Department)</h1>

                @if (Model.Courses != null && Model.Courses.Any())
                {
                    foreach (var course in Model.Courses)
                    {
                        @Html.Partial("Course/Listing", course)
                    }
                }
            </div>
        </div>
    </div>
}
